    .article {
        max-width: 1680px;
        margin: 0 auto;
        padding: $paddingDefault;
        @include desktop {
            padding: $paddingDefault;
        }
        @include tablet {
            padding: $paddingTablet;
        }
        @include phone {
            padding: $paddingPhone;
        }
        &__content {
            display: flex;
            max-width: 1680px;
            min-height: 400px;
            @include tablet {
                min-height: 300px;
            }
            @include phone {
                display: block;
            }
            margin: 0 auto;
            overflow: hidden;
            &--left {
                flex-direction: row-reverse;
            }
        }
        &__copy {
            flex: 1 0 40%;
            position: relative;
            @include phone {
                margin: 0;
            }
            h2 {
                text-align: left;
                @extend .typl8-mega;
                font-family: "Gotham Bold";
                @include phone {
                    font-size: 1.3rem;
                }
            }
        }
        &__grid {
            display: flex;
            flex-wrap: wrap;
            .col {
                flex-grow: 1;
                width: calc(50%);
                background-size: contain;
                background-position: top center;
                background-repeat: no-repeat;

                @include phone {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                    @include phone {
                        max-width: 300px;
                        margin: 20px auto 20px auto;
                    }
                }
                h2 {
                    @extend .typl8-giga;
                    font-family: "Gotham Bold";
                    padding: 20px 20px 0 20px;
                    margin-bottom: 50px;
                    text-align: left;
                    white-space: nowrap;
                    @include phone {
                        padding-left: 0;
                        font-size: 1.3rem;
                        text-align: center;
                    }
                }
                .dropdown {
                    width: 100%;
                    padding-left: 20px;
                    margin: 0 0 20px 0;
                    @include phone {
                        padding-left: 0;
                    }
                }
                &three {}
            }
        }
    }
