.svg {
    .header__logo {
        background: transparent url('../images/header--logo.svg') no-repeat left center;
    }
    .sub {
        .header__logo {
            background: transparent url('../images/header--logo--white.svg') no-repeat left center;
        	@include tablet {
        		background-image: url('../images/header--logo.svg');
        	}
        }
        .header.down .header__logo {
            background: transparent url('../images/header--logo.svg') no-repeat left center;
        }
    }
}
